html,body {
    background:linear-gradient(to bottom,#ffcd03,#ffda44,#ffe787,#ffeb99,#ffefad) ;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
        /* Hide scrollbars */
}
.admin-nav-bar{
    padding: 2vh 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 0.5vh solid black;
}

.admin-nav-bar label{
    margin-right: 1.5vh;
    margin-bottom: 0;
    font-weight: 700;
    color: #333;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    line-height: 1;
    position: relative;
    top: 0.1vh;
}

.admin-nav-bar select{
    padding: 1.2vh 4vh 1.2vh 2vh;
    font-size: 2vh;
    border-radius: 3vh;
    border: 0.2vh solid rgba(255,255,255,0.8);
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-weight: 600;
    box-shadow: 0 0.4vh 0.6vh rgba(0,0,0,0.05);
    margin: 0;
}

.admin-nav-bar select:hover{
    transform: translateY(-0.2vh);
    box-shadow: 0 6px 1.2vh rgba(0,0,0,0.1);
    border-color: #fff;
}

/*container til alle charts*/
.container{
    border:2px solid black;
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: row;
}

/*Container til højresidet charts*/
.højreCharts{
    height:98vh;
    /*border:2px solid black;*/
    width:45vw;
    margin:5px;
    display: flex;
    flex-direction: column;
}

/*Container til venstresidet charts*/
.venstreCharts{
    height:98vh;
    /*border:2px solid black;*/
    width: 60vw;
    margin:5px;
    display:flex;
    flex-direction: column;
}

/*container til statsborgerskab*/
.chart1{
    /*border:2px solid black;*/
    width:40vw;
    height:50vh;
}

/*container til heatmap */
.chart2{
    width: 40vw;
    height: 55vh;
   /* border:2px solid black;*/
    margin-top: 1vh;
}

/*Container til studieretninger før EK*/
.chart3{
    width:58vw;
    height:48vh;
    /*border:2px solid black;*/
    margin-bottom:5px;
    justify-items: center;
    background-color: rgba(255,255,255,0.15);
}

/*container til 1. prio vs 2-10 prio*/
.chart4{
    width: 58vw;
    height:48vh;
   /* border:2px solid black;*/
    margin-top:5px;
    justify-items: center;
    background-color: rgba(255,255,255,0.15);
}

#heatMap {
    height: 100%;
    width: 100%;
    position: relative;
}

#statsborgerskab {
    height: 100%;
}