html,body {
    background:linear-gradient(to bottom,#ffcd03,#ffda44,#ffe787,#ffeb99,#ffefad) ;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*container til alle charts*/
.container{
    border:2px solid black;
    height:700px;
    width:96.5vw;
    padding:5px;
    margin:10px;
    display:flex;
    flex-direction: row;
}

/*Container til højresidet charts*/
.højreCharts{
    height:680px;
    /*border:2px solid black;*/
    width:455px;
    margin:5px;
    display: flex;
    flex-direction: column;
}

/*Container til venstresidet charts*/
.venstreCharts{
    height:680px;
    /*border:2px solid black;*/
    width: 750px;
    margin:5px;
    display:flex;
    flex-direction: column;
}

/*container til statsborgerskab*/
.chart1{
    border:2px solid black;
    width:455px;
    height:335px;
}

/*container til heatmap */
.chart2{
    width: 455px;
    height: 420px;
    border:2px solid black;
}

/*Container til studieretninger før EK*/
.chart3{
    width:750px;
    height:335px;
    border:2px solid black;
    margin-bottom:5px;
}

/*container til 1. prio vs 2-10 prio*/
.chart4{
    width: 750px;
    height:335px;
    border:2px solid black;
    margin-top:5px;
}

#heatMap {
    height: 100%;
    width: 100%;
    position: relative;
}

#statsborgerskab {
    height: 100%;
}