html,body {
    background:linear-gradient(to bottom,#ffcd03,#ffda44,#ffe787,#ffeb99,#ffefad) ;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
        /* Hide scrollbars */
}

/*container til alle charts*/
.container{
    border:2px solid black;
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: row;
}

/*Container til højresidet charts*/
.højreCharts{
    height:98vh;
    /*border:2px solid black;*/
    width:45vw;
    margin:5px;
    display: flex;
    flex-direction: column;
}

/*Container til venstresidet charts*/
.venstreCharts{
    height:98vh;
    /*border:2px solid black;*/
    width: 60vw;
    margin:5px;
    display:flex;
    flex-direction: column;
}

/*container til statsborgerskab*/
.chart1{
    border:2px solid black;
    width:40vw;
    height:50vh;
}

/*container til heatmap */
.chart2{
    width: 40vw;
    height: 55vh;
    border:2px solid black;
    margin-top: 1vh;
}

/*Container til studieretninger før EK*/
.chart3{
    width:58vw;
    height:48vh;
    border:2px solid black;
    margin-bottom:5px;
    justify-items: center;
}

/*container til 1. prio vs 2-10 prio*/
.chart4{
    width: 58vw;
    height:48vh;
    border:2px solid black;
    margin-top:5px;
    justify-items: center;
}

#heatMap {
    height: 100%;
    width: 100%;
    position: relative;
}

#statsborgerskab {
    height: 100%;
}