*{
    outline-style: dotted;
    outline-color: red;
    outline-offset: -1px;
}
* {
    box-sizing: border-box;
}

html,body {
    background:linear-gradient(to bottom,#ffcd03,#ffda44,#ffe787,#ffeb99,#ffefad) ;
    min-height: 100%;
    margin: 0;
    padding: 0;
}





.box1{
    display: grid;


    grid-template-columns: auto auto auto;
        background-color: dodgerblue;

    margin-top: 10vh;
margin-left: 58vw;
    width: 40vw;

}



#uddannelse-input{
   display: grid;
    width: 20vw;
    margin-left: 78vw;
    height: 4vh;
color: black;
    background-color: beige;}

#tekstud{
    display: grid;
    margin-left: 78vw;
    margin-top: 2vh;
}
    .charts{
display: grid;
        place-content: center;
        width: 55vw;
background-color: honeydew;








}
.box2{
    max-width: 100%;

}
#ageChart{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
canvas {
    max-width: 100%;
}

#comboChart{

    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    width: 90vw;


}
.test{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    width: 90vw;
    margin-left: 5vw  ;

}
.test2{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;

      width: 90vw;
    height: 90vh;
    margin-right: 2vh;
    margin-left: 9vh;

}
#leafletMapDK {
    display: grid;
    width: 40vw;
height: 50vh;

}
#genderChart{
    height: 50vh;
max-height: 50vh;
}
#radio{
    display: flex;


}