html,body {
    background:linear-gradient(to bottom,#ffcd03,#ffda44,#ffe787,#ffeb99,#ffefad) ;
    height: 100%;
    margin: 0;
    padding: 0;
}


#leafletMapDK {
    height: 70vh;
    width: 80vw;
}