/*{
    outline-style: dotted;
    outline-color: red;
    outline-offset: -1px;
}
* {
    box-sizing: border-box;
}*/

html,body {
    background:linear-gradient(to bottom,#ffcd03,#ffda44,#ffe787,#ffeb99,#ffefad) ;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.open-house-nav-bar{
    padding: 2vh 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 0.5vh solid black;
}

.open-house-nav-bar label{
    margin-right: 1.5vh;
    margin-bottom: 0;
    font-weight: 700;
    color: #333;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    line-height: 1;
    position: relative;
    top: 0.1vh;
}

.open-house-nav-bar select{
    padding: 1.2vh 4vh 1.2vh 2vh;
    font-size: 2vh;
    border-radius: 3vh;
    border: 0.2vh solid rgba(255,255,255,0.8);
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-weight: 600;
    box-shadow: 0 0.4vh 0.6vh rgba(0,0,0,0.05);
    margin: 0;
}

.open-house-nav-bar select:hover{
    transform: translateY(-0.2vh);
    box-shadow: 0 6px 1.2vh rgba(0,0,0,0.1);
    border-color: #fff;
}

.box1{
    display: grid;


    grid-template-columns: auto auto auto;
        background-color: dodgerblue;

    margin-top: 10vh;
margin-left: 58vw;
    width: 40vw;

}



#uddannelse-input{
   display: grid;
    width: 20vw;
    margin-left: 78vw;
    height: 4vh;
color: black;
    background-color: beige;}

#tekstud{
    display: grid;
    margin-left: 78vw;
    margin-top: 2vh;
}
    .charts{
display: grid;
        place-content: center;
        width: 55vw;
background-color: honeydew;








}
.box2{
    max-width: 100%;

}
#ageChart{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
canvas {
    max-width: 100%;
}

#comboChart{

    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    width: 90vw;


}
.test{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    width: 90vw;
    margin-left: 5vw  ;

}
.test2{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;

      width: 90vw;
    height: 90vh;
    margin-right: 2vh;
    margin-left: 9vh;

}
#leafletMapDK {
    display: grid;
    width: 40vw;
height: 50vh;

}
#genderChart{
    height: 50vh;
max-height: 50vh;
}
#radio{
    display: flex;


}